@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

$green: #5fffc8;
$black-20: rgba(0,0,0,0.2);
$black-15: rgba(0,0,0,0.15);
$black-50: rgba(0,0,0,0.5);
$gradient: linear-gradient(90deg, #9bf8f4, #6f7bf7);;
* {
    margin: 0;
    font-family: "Readex Pro", sans-serif;
}
body {
    font-family: "Readex Pro", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    color: #252525;
}
.nav {
    background: linear-gradient(90deg, #9bf8f4, #6f7bf7);
    padding: 15px 15px;

    h1 {
        font-size: 1.5em;
    }
}
.tasks {
    display: flex;
    height: 100%;
    .task-list {
        flex: 1;
        max-width: 200px;
        background-color: $black-15;
        height: 100%;
        border-right: 1px solid $black-20;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .add-list {
            height: 50px;
            border: none;
            border-bottom: 1px solid $black-50;
            border-top: 1px solid $black-50;
            background: $gradient;
            color: #252525;
            text-align: left;
            padding: 15px;
            cursor: pointer;
        }
        .popup {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: $black-20;
            display: none;
            align-items: center;
            justify-content: center;
            .card {
                width: 50%;
                height: 300px;
                background-color: white;
                padding: 25px;
                border-radius: 15px;
                box-shadow: 0px 0px 25px $black-20;
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: relative;
                
                div {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }
                img {
                    width: 15px;
                    cursor: pointer;
                }
                input {
                    height: 35px;
                    padding-left: 10px;
                    border: 1px solid $black-20;
                    background-color: $black-15;
                    border-radius: 5px;
                    outline: none;
                    &::placeholder {
                        color: rgba(0,0,0,0.6);
                    }
                }
                button {
                    border: none;
                    background: $gradient;
                    height: 40px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
        input {
            border: none;
            height: 50px;
            padding: 0px 15px;
            outline: none;
        }
        .list-name {
            padding: 15px 15px;
            background-color: rgba(255,255,255,0.5);
            position: relative;
            cursor: pointer;
            font-size: 14px;
        }
    }
    .task-view {
        flex: 3;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .task-header {
            display: flex;
            justify-content: space-between;
        }
        .list-delete{
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-radius: 5px;
            width: auto;
            background-color: black;
            color: white;
            right: 5px;
            top: 5px;
            z-index: 999;
            &:hover {
                cursor: pointer;
            }
        }
        .add-task {
            width: 100%;
            gap: 10px;
            display: flex;
            input {
                flex: 2;
                height: 35px;
                padding-left: 10px;
                border: 1px solid $black-20;
                background-color: $black-15;
                border-radius: 5px;
                outline: none;
                &::placeholder {
                    color: rgba(0,0,0,0.6);
                }
            }
            button {
                flex: 1;
                border: 1px solid $black-20;
                background-color: $black-15;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        .task {
            display: flex;
            gap: 10px;
            border-top: 1px solid $black-20;
            padding: 15px 10px;
            padding-right: 25px;
            justify-content: space-between;
            div {
                display: flex;
                gap: 10px;
                input[type=text] {
                    font-size: 1em;
                    color: black;
                    border: none;
                    outline: none;
                    margin-top: 1px;
                    display: none;
                }
            }
            .tools {
                gap: 25px;
            }
            img {
                height: 15px;
                cursor: pointer;
            }
            input[type=checkbox] {
                cursor: pointer;
            }
        }
        .checked {
            background-color: #9bf8f4;
        }
    }
}